@font-face {
    font-family: Sephora SerifBook;
    src: url(/assets/categories/fonts/SephoraSerifBook.woff2);
}
@font-face {
    font-family: Sephora SansBold;
    src: url(/assets/categories/fonts/SephoraSansBold.woff2);
}
@font-face {
    font-family: Sephora SansMedium;
    src: url(/assets/categories/fonts/SephoraSansMedium.woff2);
}
@font-face {
    font-family: Sephora SansBook;
    src: url(/assets/categories/fonts/SephoraSansBook.woff2);
}

.header-container {
    flex: 1;
    width: 100%;
    background-color: #FFF;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.row-container {
    padding: 20px;
}

.tab-style {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05),0px 5px 15px rgba(0, 0, 0, 0.1);
}

.tab-header-container{
    flex: 1;
    width: 100%;
    background-color: #FFF;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05),0px 5px 15px rgba(0, 0, 0, 0.1);
}

.tab-container {
    padding: 20px;
    background-color: #F5F5F5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text-style{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.details-style {
    font-size: 14px;
    font-weight:normal;
    color:  #000;
}

.buttonRefresh {
    background-color: var(--active-red);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    margin: 20px;
}

.sync-refresh {
    background-color: var(--active-red);
    border: none;
    color: white;
    font-size: 16px;
}

.table-data{
    border-bottom: 2px solid #F5F5F5;
}

.sync-button {
    display: flex;
    justify-content: end;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* margin: 10px; */
}

.table thead th {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05),0px 5px 15px rgba(0, 0, 0, 0.1);
  }

  th {
    border: 2px solid #F5F5F5;
  }

  td {
    border: none !important;
  }

  td, th {
    text-align: left;
    padding: 8px; 
  }

tr:nth-child(even) {
    background-color: #F5F5F5;
}

.card-container {
    flex: 1;
    min-height: 250px;
    background-color: #FFF;
    margin-top: 10px;
    border-radius: 5px;
    /* padding-bottom: 10px; */
}

.upc-view-style { 
    margin-left: 150px;
}

.header-text {
    padding: 5px;
    text-align: center;
    border-bottom: 1.5px solid #922943;
}

.attribute-list-container{
    padding: 10px;
    color: rgb(51, 49, 49);
    font-size: 14px;
    font-family: "LibreFranklinRegular";
}

.dropdown {
    justify-content:space-around;
}

.dropdown-wrap{
    width: 40%;
}

.mat-select-division{
    color: #922943;
}

.row-style {
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

.title-style {
    width: 40%;
    border-bottom: 2px solid #F5F5F5;
    font-size: 14px;
    font-family: "LibreFranklinBold";
}
.value-style {
    margin-left: 25px;
    font-size: 14px;
    font-family: "LibreFranklinRegular";
}
